* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;

}

body {
    font-size: calc(1/5vw - 1vh);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

input,
textarea {
    font-size: 1em;
}

#search-sec {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#header {
    padding: calc(1vw + 12px);
    background-color: rgb(198, 159, 159);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    font-size: 1.2rem;
}

#show-date {
    color: bisque;
}

.root-style-1 {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}
.root-style-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#sidebar {
    background-color: rgb(248, 255, 196);
    padding: 10px;
    grid-row: 1 / 3;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#sidebar-user-posts {
    overflow-y: scroll;
}
#content-container {
    background-color: rgb(161, 138, 255);
    padding: 30px;
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
}



#new-blog-textarea {
    /* width: 50vw; */
    height: 40vh;
}

#create-post-btn {
    width: 10vw;
    background-color: blue;
    border: none;
    padding: 5px 10px;
    color: white;
    align-self: flex-end;
}

.header-title {
    color: rgb(49, 25, 145);
}

.post-item {
    list-style: none;
    background-color: rgb(97, 130, 188);
    margin-bottom: 1vw;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    width: 90%;
}

.post-item:hover {
    box-shadow: 1px 2px blue;
}

.post-item:active {
    background-color: lightgray;
}

.sidebar-title {
    color: rgb(217, 36, 16);
    margin-bottom: 1vw;
}

#create-new-post,
#sidebar-main-menu {
    margin-bottom: 3vw;
}

hr {
    height: 3px;
    background-color: black;
    margin-bottom: 1vh;
}

.yellow-button {
    font-size: calc(1vw + 5px);
    background-color: yellow;
    border: 1px solid black;
    width: 60%;
    margin: auto;
}


p {
    white-space: pre-wrap;
    word-break: break-all;
}

/* Preview */

.hidden {
    display: none !important;
}

#post-title {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

#edit-post {
    font-size: 2rem;
    color: black;
}

#edit-post:hover {
    color: blue;
}

#search-posts-input {
    width: 30vw;
    border: none;
    padding: 3px;
    border-radius: 5px;
}

#user-name-display{
    color: white;
    background: -webkit-linear-gradient(#1c9fa9cf, #3921d5);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#user-posts {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin: 1rem;
    overflow-y: scroll;
    max-height: 80vh;
    grid-auto-rows: 1fr
}
#post-card-description {
    display: flex;
    align-items: center;
}
#user-posts::-webkit-scrollbar {
    color: blue; 
    background-color: transparent;   
}   
#post-card {
    background-color: lightblue;
    display: grid;
    border-radius: 5px;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    padding: 10px;
    min-height: 260px;
    max-height: 300px;
    border-left: 6px solid rgb(47, 179, 47);
}

#card-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
}
#user-information-sidebar {
    display: grid;
    grid-template-rows:1fr 1fr;
    padding: 1rem;
    gap: 15px;
}

#blog-info, #quote-of-the-day {
    background-color: rgb(245, 200, 141);
    padding: 10px;
    display: grid;
    border-radius: 5px;
}